@import '../../common/common.scss';

.card__wrapper {
  position: relative;
  display: grid;
  margin: 2rem 2rem;
  grid-template-columns: 1fr 1fr;
  background-color: $document-bg-color;
  box-shadow: $shadow-color 0px 3px 8px;
  color: $text-accent-color;

  span {
    margin: 1rem 1rem;
    font-size: 26px;
    font-weight: 600;
  }

  button {
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    color: $accent-color;
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto;
  }
}
.text__card__wrapper {
  position: relative;
  margin: 2rem 2rem;
  background-color: $document-bg-color;
  box-shadow: $shadow-color 0px 3px 8px;
  color: $text-accent-color;
  display: flex;
  flex-direction: column;
  span {
    margin: 1rem 1rem;
    font-size: 26px;
    font-weight: 600;
  }

  button {
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    color: $accent-color;
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto;
  }
}
